In [0]:
from fastai.basics import *
import pandas as pd

In [3]:
!wget http://files.fast.ai/part2/lesson14/rossmann.tgz

--2019-08-21 07:24:18--  http://files.fast.ai/part2/lesson14/rossmann.tgz
Resolving files.fast.ai (files.fast.ai)... 67.205.15.147
Connecting to files.fast.ai (files.fast.ai)|67.205.15.147|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7730448 (7.4M) [application/x-gtar-compressed]
Saving to: ‘rossmann.tgz’

rossmann.tgz        100%[===================>]   7.37M  12.7MB/s    in 0.6s

2019-08-21 07:24:19 (12.7 MB/s) - ‘rossmann.tgz’ saved [7730448/7730448]

In [0]:
import tarfile

First let's open the data

In [0]:
tar = tarfile.open('rossmann.tgz')
tar.extractall(path='')
tar.close()

In [0]:
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend',
              'weather', 'test']

tables = [pd.read_csv(f'{fname}.csv', low_memory=False) for fname in table_names]

Next we need to assign the tables

In [0]:
train, store, store_states, state_names, googletrend, weather, test = tables

In [9]:
len(train), len(test)

(1017209, 41088)

# Dates

What all can we gather from a date?

In [11]:
train['StateHoliday'].iloc[:10]

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: StateHoliday, dtype: object

In [0]:
train['StateHoliday'] = train['StateHoliday'] != '0'
test['StateHoliday'] = test['StateHoliday'] != '0'

In [13]:
train['StateHoliday'].iloc[:10]

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: StateHoliday, dtype: bool

Now let's combine some information. Weather and state names are related. How?

In [14]:
weather.head()

                 file        Date  ...  Events  WindDirDegrees
0  NordrheinWestfalen  2013-01-01  ...    Rain             215
1  NordrheinWestfalen  2013-01-02  ...    Rain             225
2  NordrheinWestfalen  2013-01-03  ...    Rain             240
3  NordrheinWestfalen  2013-01-04  ...    Rain             263
4  NordrheinWestfalen  2013-01-05  ...    Rain             268

[5 rows x 24 columns]

In [15]:
state_names.head()

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

In [0]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

In [0]:
weather = join_df(weather, state_names, 'file', 'StateName')

In [19]:
weather.head()

                 file        Date  ...           StateName  State
0  NordrheinWestfalen  2013-01-01  ...  NordrheinWestfalen     NW
1  NordrheinWestfalen  2013-01-02  ...  NordrheinWestfalen     NW
2  NordrheinWestfalen  2013-01-03  ...  NordrheinWestfalen     NW
3  NordrheinWestfalen  2013-01-04  ...  NordrheinWestfalen     NW
4  NordrheinWestfalen  2013-01-05  ...  NordrheinWestfalen     NW

[5 rows x 26 columns]

Next the googletrend data, we can extract the date and the state from it

In [0]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

Now let's work on the dates. Remember that list we made earlier? What did you miss? Here's everything we can make:

|  |  |  |
|:--------------------:|:------------------:|:------------------:|
| Year | Month | Week |
| Day | Day of week | Day of year |
| End of the month | Start of the month | End of the quarter |
| Start of the quarter | End of the year | Start of the year |

The fastai library has a convenient `add_datepart` function to help with this. Let's explore it

In [0]:
add_datepart??

In [0]:
def add_datepart(df, fldname, drop=True, time=False):
    "Helper function that adds columns relevant to a date."
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

Let's apply this to everything with a date component, our weather, google trend, train, and test dataframes

In [0]:
dfs = [weather, googletrend, train, test]

In [0]:
[add_datepart(x, 'Date', drop=False) for x in dfs];

The google trend data has a special marker for when it is for the Rossmann data, let's extract it

In [0]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

Now let's combine the store and store_states dataframes, so we can turn the states into categories

In [28]:
store.head()

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

In [29]:
store_states.head()

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

In [30]:
store = join_df(store, store_states, 'Store')
len(store[store['State'].isnull()])

0

Now let's merge our store information with our training and test data

In [31]:
train.head()

   Store  DayOfWeek       Date  ...  Is_year_end  Is_year_start     Elapsed
0      1          5 2015-07-31  ...        False          False  1438300800
1      2          5 2015-07-31  ...        False          False  1438300800
2      3          5 2015-07-31  ...        False          False  1438300800
3      4          5 2015-07-31  ...        False          False  1438300800
4      5          5 2015-07-31  ...        False          False  1438300800

[5 rows x 22 columns]

In [0]:
joined = join_df(train, store, 'Store')
joined_test = join_df(test, store, 'Store')

Next we can join our google trend with joined according to the time of year and the state

In [0]:
joined = join_df(joined, googletrend, ['State', 'Year', 'Week'])
joined_test = join_df(joined_test, googletrend, ['State', 'Year', 'Week'])

Now let's use our '_DE' data

In [35]:
joined.head()

   Store  DayOfWeek       Date  ...  Is_year_end_y  Is_year_start_y   Elapsed_y
0      1          5 2015-07-31  ...          False            False  1438473600
1      2          5 2015-07-31  ...          False            False  1438473600
2      3          5 2015-07-31  ...          False            False  1438473600
3      4          5 2015-07-31  ...          False            False  1438473600
4      5          5 2015-07-31  ...          False            False  1438473600

[5 rows x 47 columns]

In [36]:
trend_de.head()

            file                     week  ...  Is_year_start     Elapsed
148  Rossmann_DE  2012-12-02 - 2012-12-08  ...          False  1354406400
149  Rossmann_DE  2012-12-09 - 2012-12-15  ...          False  1355011200
150  Rossmann_DE  2012-12-16 - 2012-12-22  ...          False  1355616000
151  Rossmann_DE  2012-12-23 - 2012-12-29  ...          False  1356220800
152  Rossmann_DE  2012-12-30 - 2013-01-05  ...          False  1356825600

[5 rows x 18 columns]

In [0]:
joined = joined.merge(trend_de, 'left', ['Year', 'Week'], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ['Year', 'Week'], suffixes=('', '_DE'))

In [38]:
joined.head()

   Store  DayOfWeek       Date  ...  Is_year_end_DE  Is_year_start_DE  Elapsed_DE
0      1          5 2015-07-31  ...           False             False  1438473600
1      2          5 2015-07-31  ...           False             False  1438473600
2      3          5 2015-07-31  ...           False             False  1438473600
3      4          5 2015-07-31  ...           False             False  1438473600
4      5          5 2015-07-31  ...           False             False  1438473600

[5 rows x 63 columns]

Next we'll tag in the weather information

In [0]:
joined = join_df(joined, weather, ['State', 'Date'])
joined_test = join_df(joined_test, weather, ['State', 'Date'])

Now we'll do a little bit of cleaning. This will include dropping columns that include a '_y', and setting the datatypes as we want and filling our missing values

In [0]:
for df in (joined, joined_test):
  df['CompetitionOpenSinceYear'] = df['CompetitionOpenSinceYear'].fillna(1900).astype(np.int32)
  df['CompetitionOpenSinceMonth'] = df['CompetitionOpenSinceMonth'].fillna(1).astype(np.int32)
  df['Promo2SinceYear'] = df['Promo2SinceYear'].fillna(1900).astype(np.int32)
  df['Promo2SinceWeek'] = df['Promo2SinceWeek'].fillna(1).astype(np.int32)

In [0]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [0]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [44]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,  1, 14, 20,  8, 18,  6, 21,  5])

# IsoWeek

Now we will use an isoweek module. With it, we can extract the day of the week from a date. Think of why this may be useful

In [45]:
!pip install isoweek

Collecting isoweek
  Downloading https://files.pythonhosted.org/packages/c2/d4/fe7e2637975c476734fcbf53776e650a29680194eb0dd21dbdc020ca92de/isoweek-1.3.3-py2.py3-none-any.whl
Installing collected packages: isoweek
Successfully installed isoweek-1.3.3

In [0]:
from isoweek import Week

This next bit may take a moment

In [0]:
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [48]:
df['Promo2Since'].head()

0   1900-01-01
1   2011-04-04
2   1900-01-01
3   1900-01-01
4   1900-01-01
Name: Promo2Since, dtype: datetime64[ns]

In [49]:
df['Promo2Days'].head()

0    42262
1     1627
2    42262
3    42262
4    42262
Name: Promo2Days, dtype: int64

Now let's map a few more week relationships

In [0]:
for df in (joined, joined_test):
  df.loc[df['Promo2Days'] < 0, 'Promo2Days'] = 0
  df.loc[df['Promo2SinceYear'] < 1990, 'Promo2Days'] = 0
  df['Promo2Weeks'] = df['Promo2Days']//7
  df.loc[df['Promo2Weeks'] < 0, 'Promo2Weeks'] = 0
  df.loc[df['Promo2Weeks'] > 25, 'Promo2Weeks'] = 25

In [53]:
joined['Promo2Weeks'].unique()

array([ 0, 25, 17,  8, 13, 24, 16,  7, 12, 23, 15,  6, 11, 22, 14,  5, 10, 21,  4,  9, 20,  3, 19,  2, 18,  1])

Almost there! Let's save our work real quick

In [0]:
path = ''

In [0]:
joined.to_pickle(f'joined')
joined_test.to_pickle(f'joined_test')

Now let's deal with holidays and some elapsed time since them!

In [0]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

What can holidays tell us about spending habits?

In [0]:
columns = ['Date', 'Store', 'Promo', 'StateHoliday', 'SchoolHoliday']

In [0]:
df = train[columns].append(test[columns])

In [60]:
df.head()

        Date  Store  Promo  StateHoliday  SchoolHoliday
0 2015-07-31      1      1         False              1
1 2015-07-31      2      1         False              1
2 2015-07-31      3      1         False              1
3 2015-07-31      4      1         False              1
4 2015-07-31      5      1         False              1

What we're going to do next is take a field, give ourselves both a 'before' and 'after' field along with them

In [0]:
flds = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [0]:
for fld in flds:
  df = df.sort_values(['Store', 'Date'])
  get_elapsed(fld, 'After')
  df = df.sort_values(['Store', 'Date'], ascending=[True, False])
  get_elapsed(fld, 'Before');

In [0]:
df = df.set_index('Date')

Now let's merge some information together

In [0]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [0]:
for o in ['Before', 'After']:
  for p in columns:
    a = o+p
    df[a] = df[a].fillna(0).astype(int)

We can also now include some rolling sums for each week for accumulating patterns in repeating events over time. This is *especially* helful

In [0]:
bwd = df[['Store']+columns].sort_index().groupby('Store').rolling(7, min_periods=1).sum()

In [0]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby('Store').rolling(7, min_periods=1).sum()

In [0]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [0]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [0]:
df.reset_index(inplace=True)

Now let's merge some dataframes!

In [0]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [0]:
df.drop(columns, 1, inplace=True)

In [73]:
df.head()

        Date  Store  ...  StateHoliday_fw  Promo_fw
0 2015-09-17      1  ...              0.0       1.0
1 2015-09-16      1  ...              0.0       2.0
2 2015-09-15      1  ...              0.0       3.0
3 2015-09-14      1  ...              0.0       4.0
4 2015-09-13      1  ...              0.0       4.0

[5 rows x 14 columns]

Let's make another backup

In [0]:
df.to_pickle('df')

In [0]:
df['Date'] = pd.to_datetime(df['Date'])

Let's regrab those joined dataframes

In [0]:
joined = pd.read_pickle('joined')
joined_test = pd.read_pickle(f'joined_test')

Now we can merge them with our new dataframe!

In [0]:
joined = join_df(joined, df, ['Store', 'Date'])
joined_test = join_df(joined_test, df, ['Store', 'Date'])

Let's limit it to when sales actually occured

In [0]:
joined = joined[joined['Sales'] != 0]

In [0]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [0]:
joined.to_pickle('train_clean')
joined_test.to_pickle('test_clean')

And we're done! Let's look at how many variables we have now versus before

In [84]:
len(joined.columns)

119

In [87]:
len(train.columns)

9

119 variables from 9, not bad at all!